Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  -clang-analyzer-alpha.*,
  -clang-analyzer-osx.*,
  -clang-analyzer-unix.*,
  misc-include-cleaner,
  misc-redundant-expression,
  readability-redundant-control-flow
  readability-simplify-boolean-expr,

CheckOptions:

- key: bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression
  value: true

ExtraArgs:

- -std=gnu11
- --target=aarch64-none-elf

HeaderFilterRegex: '^(include|kernel|mm|arch|userspace)/'

WarningsAsErrors: ''
