Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  misc-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-unsafe-functions
  -clang-analyzer-cplusplus*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -misc-no-recursion,
  -readability-identifier-length,
  -readability-magic-numbers

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
SystemHeaders: false
FormatStyle: file
InheritParentConfig: false

HeaderFileExtensions:

- h

ImplementationFileExtensions:

- c

CheckOptions:
  bugprone-unused-return-value.AllowCastToVoid: 'true'
